@using Microsoft.AspNetCore.Identity
@using OnlineStore.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link navbarbuttons navBtnHover" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Your account</a>
    </li>
    <li class="nav-item navbarbuttons navBtnHover">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Items", new { area = "" })">
            <button id="logout" class=" nav-link navbarbuttons bg-light" style="border: none;" type="submit">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link navbarbuttons navBtnHover" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link navbarbuttons navBtnHover" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
