@using StoreLibrary.Models;
@model List<ItemModel>
@{
    ViewData["Title"] = "Index";
}

@foreach(var obj in Model)
{
    <div >
        <img src="/img/@obj.ImgPath" width="100px" height="100px"/>
        <h2><a asp-controller="Items" asp-action="Details" asp-route-id="@obj.Id">@obj.Name</a> </h2>
    </div>
}

