@using StoreLibrary.Models;
@model List<ItemModel>
@{
    ViewData["Title"] = "Index";
}
<form method="post" asp-action="Index">
    <input type="text" name="searchingName" value="@ViewBag.Name"/>
    <input type="number" name="priceMin" value="0" min="0" max="10000" />
    <input type="number" name="priceMax" value="3000" min="0" max="10000" />
    <input type="radio" name="categoryId" value="1"/>
    <input type="radio" name="categoryId" value="2" />
    <input type="submit" />
</form>
@foreach(var obj in Model)
{
    <div >
        
        <a asp-controller="Items" asp-action="Details" asp-route-id="@obj.Id">
            <div>
                <img src="/img/@obj.ImgPath" width="100px" height="100px" />
                <h2>@obj.Name</h2>
                <a asp-controller="Cart" asp-action="AddToCart" asp-route-itemId="@obj.Id">Add To Cart</a>
            </div>
        </a>
    </div>
}

