@using StoreLibrary.Models;
@model List<ItemModel>
@{
    ViewData["Title"] = "Index";
}

@foreach(var obj in Model)
{
    <div >
        
        <a asp-controller="Items" asp-action="Details" asp-route-id="@obj.Id">
            <div>
                <img src="/img/@obj.ImgPath" width="100px" height="100px" />
                <h2>@obj.Name</h2>
                <a asp-controller="Cart" asp-action="AddToCart(@obj.Id)">Add To Cart</a>
            </div>
        </a>
    </div>
}

